

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: #0e1112;
}

.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 3px solid #bbbebd;
    border-radius: 20px;
    align-self: center;
    margin: 5%;
    max-width: 980px;
    width:95%;
    align-items: center;
}

.title {
    font-size: 48px;
    padding: 2%;
    color: #bbbebd;
}

#answer-box {
    height: 10%;
    font-size: 7.5vh;
    max-width: 900px;
    width: 50%;
    text-align: center;
    border: 3px solid #bbbebd;
    border-radius: 20px;
    color: #bbbebd;
}

#input-box {
    border: 1px solid blue;
    padding:5px;
    color: #bbbebd;
    border: 2px solid #bbbebd;
    border-radius: 10px;
    font-size: 16px;
    min-height: 20px;
    max-width: 300px;
    width: 90%;
    margin: 1%;
}

.calculator-buttons {
    display: flex;
    justify-content: center;
}

button {
    min-width: 50px;
    min-height: 50px;
    border: 2px solid #bbbebd;
    border-radius: 5px;
    text-decoration: none;
    margin: 0px 2px 4px 2px;
    background-color: #0e1112;
    color:#bbbebd

}

#zero {
    flex: 2;
}

.numpad {
    display:flex;
    flex-direction: column;
}

.numpad-row {
    display:flex;
}

.operators {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.operator-row {
    display: flex;
}